.jumbotron {
    background-color: yellow;
    color: black;
    margin-top: 50px;
    
}

footer {
    padding: 10px 10px 0 10px;
    background-color: darkgoldenrod;
    margin-bottom: 0px;
    margin-top: 10px;

}
.card-hotel {
    flex: 1 150px;
    padding: 2px 5px 2px 5px;
    margin-top: 10px;
    
}

.btn-catalogo {
    width: 100%;
}
.footer-adress-icon {
    padding-right: 10px;
}
.btn-icon {
    padding-right: 10px;
}

